
 *{
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 300;
    line-height: 150%;
 
 }
 
body{
  background-color:  #F5F5DC;
}

header{
  margin-left: 80px;
  
}

 main {
  display: flex;  /*Text area lado a lado */
  margin-left: 80px;
  margin-bottom: 50px;
 }

 .input-texto{
   margin-top: 50px;
   border-radius: 20px;
 }

 .mensagem{
   position: fixed;
   margin-top: 20px;
   margin-left: 80px;
   background-image: url("imagens/pergaminho2.png");
   background-repeat: no-repeat;
   background-position: 10px;
   background-size: 300px;
   border-radius: 20px;
   border-color: #F5F5DC;
   line-height: 140%;
   
 }

 .copiar{
   position: relative;
   margin-top: 330px;
   margin-left: 180px;
   border-radius: 20px;
   background-color: 	#FFD700
 }

 .botoes{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
   
 }

 .encriptar{
   background-color: 	#FFD700;
   border-radius: 20px;
   font-size: 28px;
 }

 .desencriptar{
    margin-left: 30px;
    border-radius: 20px;
    font-size: 28px;
 }

 .informacao{
  font-size: 15px;
 }